<%= form_for(@student, :html => { :id => 'student_form' }) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div class="fallback">
      <%= f.file_field :imagefile %>
  </div>
<% end %>

<button id="student_form_save_button">Save</button>
<br/>
<div id="status_message">
  &nbsp;
</div>
